body {
    height: 100%;
    margin: 0;
    background-image: url('https://i.pinimg.com/originals/8e/fb/81/8efb811334069955fcdcc5183522db21.gif');
    background-size: cover;
    font-family: 'Cinzel', serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4); 
  z-index: -1; 
}




.carousel-caption {

 background: rgba(0, 0, 0, 0.6);

 padding: 15px;

 border-radius: 8px;

}


#reseña {
  background: rgba(255,255,255,0.7); 
  padding: 20px;
  border-radius: 10px;
}



.carousel-caption h5 {

 font-size: 2rem;

 font-weight: bold;

 color: #fff;

 text-shadow: 2px 2px 4px rgba(0,0,0,0.8);

}



.carousel-caption p {

 font-size: 1.2rem;

 color: #ddd; 

 text-shadow: 1px 1px 3px rgba(0,0,0,0.7);

}



.carousel-item {

 height: 100vh; 
}





.carousel-item img {

 height: 100%;

 object-fit: cover; 

}





.carousel-caption {

 background: rgba(0, 0, 0, 0.6);

 padding: 15px;

 border-radius: 8px;

 bottom: 2.5rem; /* Asegura espacio suficiente respecto al borde inferior */

}


.navbar {
  background-color: #0a0a0a; 
}

.navbar .nav-link {
  color: #ffffff; 
  transition: all 0.3s ease; 
}

.navbar .nav-link:hover {
  background-color: #b00; 
  color: #ffd700; 
  border-radius: 5px; 
  padding: 5px 10px; 
}
.btnDanger{
    background-color: #b00; 
    color: #ffffff;
}
.btnDanger:hover{
    background-color: #b00; 
    color: #ffd700;
}

.textoOro{
    color: #ffd700;
}
.textoOro:hover{
    color: #b00;
}